@{
  Layout = "_Layout";
}
    <form action="/items" method="post">
      <label for="item">Add a new item</label>
      <input id="item" name="item" type="text">
      <label for="price">Price of item</label>
      <input id="price" name="price" type="text">
      <label for="weight">Weight of item</label>
      <input id="weight" name="weight" type="text">
      <label for="name">Who is bringing this item?</label>
      <input id="name" name="name" type="text">
      <label for="packed">Is it packed?</label>
      <input id="packed" name="packed" type="text">
      <button type="submit">ADD</button>
    </form>
