<!DOCTYPE html>
<html>
  <head>
    <title>New Items:</title>
  </head>
  <body>
    <form action="/items" method="post">
      <label for="item">Add a new item</label>
      <input id="item" name="item" type="text">
      <button type="submit">ADD</button>
    </form>
  </body>
</html>