@{
  Layout = "_Layout";
}
<h1> Hey! You're going on a trip! </h1>

<h3> What would you like to do first? <h3>

<button type=button><a href="items/new">Add camping item to the list.</a></button>
<button type=button><a href="items">See a list of all items.</a></button>
<button type=button><a href="items/unpacked">See a list of all unpacked items.</a></button>

